node_modules
yarn.lock
package-lock.json

.env
.env.*

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/

#
/.idea
.openzeppelin
contracts/artifacts
/src/artifacts
/.states
/flatten/
/scripts/temp/

# Log files
*.log

# Archives
_archive/
